body{
    
    font-family: 'Montserrat', sans-serif;
    
}
h1{
    font-family: 'Otomanopee One', sans-serif;
    font-size: 45px;
    line-height: 25px;
}
#me-h1{
    padding-top: 20%;
}
.be-flexible{
    display: flex;
}
.devide-width{
    width: 50%;
    margin-left: 25px;
    padding-top: 30px;
}
.devide-width img{
    width: 75%;
    height: 100%;
    padding-left: 20%;
}
#another-image{
    height: 75%;
    width: 60%;
    padding-top: 7px;
    
}
.color-orange{
    color: rgb(238, 115, 44);
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(238, 115, 44), tomato);
    padding: 10px 20px;
    color: white;
    border-radius: 25px;
    
}
#first-para{
    padding-bottom: 20px;
}
#another-para{
    padding-top: 20px;
    padding-right: 5%;
    padding-bottom: 20px;
}
.first-h1{
    padding-top: 70px;
}
.third-h1{
    padding-bottom: 20px;
}
