body{
    
    font-family: 'Montserrat', sans-serif;  
}
h1{
    font-family: 'Otomanopee One', sans-serif;
    font-size: 45px;
    line-height: 25px;
}
#me-h1{
    padding-top: 20%;
}
h2
{
    font-family: 'Otomanopee One', sans-serif;
    line-height: 20px;
}
.be-flexible{
    display: flex;
    padding-bottom: 30px;
}
.devide-width{
    width: 50%;
    margin-left: 25px;
    padding-top: 30px;
}
.devide-width img{
    width: 75%;
    height: 100%;
    padding-left: 20%;
}
#another-image{
    height: 75%;
    width: 60%;
    padding-top: 7px;
    
}
.color-orange{
    color: rgb(238, 115, 44);
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(238, 115, 44), tomato);
    padding: 10px 20px;
    color: white;
    border-radius: 25px;
    
}
#first-para{
    padding-bottom: 20px;
}
#another-para{
    padding-top: 20px;
    padding-right: 5%;
    padding-bottom: 20px;
}
.first-h1{
    padding-top: 70px;
}
.third-h1{
    padding-bottom: 20px;
}
.top-banner{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    margin-top: 10px;
    background-color: rgb(248, 213, 248);
}
.recipe{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.recipe h2{
    font-size: 30px;
}
.recipe-details{
    display: flex;

}
.container{
    width: 33%;
    height: 400px;
    padding: 10px;
    margin: 3%;
    border-radius: 5%;
    box-shadow: 10px 10px 25px gray;
}
.container img{
    height: 250px;
    width: 100%;
}
.additional{
    width: 100%;
    box-shadow: 10px 10px 25px gray;

} 
.position{
    justify-content: space-around;
    width: 100%;
    height: 5%;
    box-shadow: 10px 10px 25px rgb(139, 137, 137);
    display: flex;
}
footer{
    padding-top: 15px;
    text-align: center;
    background-color: black;
    color: white;
    padding-bottom: 15px;
    margin-top: 3%;
    margin-bottom: 3%;
}
.color-gray{
    color: rgb(182, 176, 176);
}
.form{
    margin: 5%;
}
